#new-project {
  border-radius: 0.4rem;
  background-color: #f4511e;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 1rem;
  padding: 0.3rem 0.5rem;
  width: 10rem;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0.2rem;
}

#new-project span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#new-project span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#new-project:hover span {
  padding-right: 25px;
}

#new-project:hover span:after {
  opacity: 1;
  right: 0;
}

@mixin secondary-btns {
  margin: 0 0.1rem;
  border-radius: 50%;
  border: none;
  background-color: inherit;
  aspect-ratio: 1;
  color: white;
  margin: 0;

  width: 1.8rem;
  font-size: 1rem;

  // for Development
  // background-color: rgba(255, 255, 255, 0.1);
}

.project-btns {
  @include secondary-btns;
}

.todo-btns {
  @include secondary-btns;

  display: flex;
  justify-content: center;
  align-items: center;


  input {
    height: 1.1rem;
    width: 1.1rem;
  }
}

.edit-button {
  font-size: 1.2rem;
}

