.des {
  display: none;
}

.project-des-show {
  display: block;
}

.project-title-area {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
}

.project {
  padding: 0.5rem;
  margin: 0.5rem;
}