.todo-tit-cont {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  margin: 0.5rem;
  > * {
    display: flex;
    align-items: flex-start;
    margin: 0;
  }

  h3 {
    padding-right: 0.5rem;
  }

}

.todo-hide-btn {
  font-size: 0.7rem;
}


